@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item {
  @apply flex items-center gap-2 px-3 py-2 rounded-lg text-gray-500 text-sm hover:bg-indigo-50 hover:text-indigo-600 transition-all cursor-pointer font-medium;
}

.active{
   @apply bg-indigo-50 text-indigo-600 font-semibold;
}